---
---

body, html {
    margin: 1em;
}

header, footer, main {
    max-width: 600px;
    margin: 0 auto;
}

nav a {
    margin-right: 2em;
}

nav {
    border-bottom: 1px solid #666;
    padding: 0 0 1em 0;
}